@media (max-width: 993px){
    /* navbar */
    .link_my_site{
        font-size: 16px;
    }
    .menu a{
        font-size: 16px;
    }
    .navbar_content .my_phone{
        margin-left: 0;
        margin-left: 20px;
    }
    .number_phone{
        font-size: 16px;
    }
    /* portfolio */
    .portfolio_content{
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    .link_work{
        min-height: 35px;
        margin-top: 30px;
    }
    .link_work .card_work{
        min-height: 35px;
    }
    .card_work_content img{
        max-width: 90%;
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin: 0 auto;
    }
    /* price */
   .price_content{
       display: flex;
       justify-content: center;
       margin-top: 0;
   }
   .card_price{
       margin-top: 30px;
   }
}
@media (max-width: 850px){
    /* navbar */
    .navbar_content{
        position: relative;
    }
    .navbar_content .link_my_site{
        display: inline-block;
        margin-left: 40px;
    }
    .icon_phone{
        position: absolute;
        top: 32px;
        left: 0;
    }
    .number_phone{
        display: none;
    }
    .number_phone_active{
        display: block;
        position: absolute;
        top: 70px;
        left: 0;
       
    }
}
@media (max-width: 768px){
    /* navbar */
    .menu_burger{
        width: 30px;
        height: 30px;
        border: solid 2px #6e6d6d;
        border-radius: 50%;
        position: absolute;
        right: 0;
        z-index: 33;
    }
    .menu_burger::before,
    .menu_burger::after{
        content: "";
        display: inline-block;
        width: 50%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 7px;
        transition: ease 1s;
    }
    .menu_burger::before{
        top: 6px;
    }
    .menu_burger span{
        display: block;
        width: 50%;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 12px;
        left: 7px;
        transition: ease 1s;
    }
    .menu_burger::after{
       top: 18px;
    }
    .menu_burger_active span{
        background-color: transparent;
        transition: ease 1s;
    }
    .menu_burger_active::before{
        transform: rotate(50deg);
        top: 12px;
        transition: ease 1s;
    }
    .menu_burger_active::after{
        transform: rotate(-50deg);
        top: 12px;
        transition: ease 1s;
    }
    .navbar_content .menu{
        position: absolute;
        top: -300px;
    }
    .navbar_content .menu_mobile{
        display: block;
        width: 150px;
        min-height: 120px;
        background-color: #292626;
        padding-top: 10px;
        position: absolute;
        top: 90px;
        right: 0;
        z-index: 444;
   }
   .navbar_content .menu li{
       margin-top: 5px;
       margin-right: 0;
       margin-left: 20px;
   }
   /* first screen  */
   .first_screen{
       padding: 50px 0;
   }
   .first_screen_content .first_screen_title{
       font-size: 38px;
   }
   .first_screen_content .first_screen_subtitle{
       font-size: 20px;
   }
   .red_triangle{
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 200px solid #f95959;
   }
   .page_title{
       font-size: 30px;
       line-height: 40px;
   }
   /* about me */
   .about_me{
       padding: 50px 0;
   }
   .about_me_text p{
    font-size: 20px;
    line-height: 30px;
   }
   /* skills */
   .skills{
       padding: 50px 0;
   }
   .skills_content{
       margin-top: 0;
       margin-top: 30px;
       display: block;
   }
   #grey_progress{
       width: 100%;
   }
   /* contact */
   .contact_text{
       font-size: 20px;
   }
}
@media (max-width: 503px){
    /* navbar */
    .navbar_content .link_my_site{
        font-size: 13px;
    }
    /* first screen */
    .first_screen_content .first_screen_title{
        text-align: center;
    }
    .first_screen_content .first_screen_subtitle{
        text-align: center;
    }
    /* price */
    .list_services{
        margin-left: 20px;
    }
    .card_price_container .card_price_content .list_services li{
        font-size: 16px;
    }
}