@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;0,500;0,600;1,500;1,600;1,800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  background-color: #000000;
}

.none {
  display: none;
}

.container {
  max-width: 1077px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.navbar_content {
  max-width: 100%;
  min-height: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_content .logo_link {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.navbar_content .menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar_content .menu_list li {
  margin-right: 44px;
}

.navbar_content .menu_list li:last-child {
  margin-right: 0;
}

.navbar_content .menu_list a {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.6;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.navbar_content .menu_list a:hover {
  opacity: 1;
}

.navbar_content .menu_list .active {
  opacity: 1;
}

.navbar_content .btn_buy {
  width: 113px;
  height: 49px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  outline: none;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.navbar_content .btn_buy:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.first_screen {
  padding-top: 101px;
  padding-bottom: 127px;
}

.first_screen_content .first_screen_title {
  font-style: italic;
  font-weight: 800;
  font-size: 120px;
  line-height: 100%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  max-width: 980px;
  padding-bottom: 86px;
}

.first_screen_content .first_screen_bike {
  max-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
}

.page_title {
  font-weight: 600;
  font-size: 31px;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 30px;
}

.page_description {
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.8;
}

.link_page {
  display: inline-block;
  border: 1px solid #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 30px;
  margin-top: 40px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.link_page:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.improved_bike {
  padding-bottom: 238px;
}

.improved_bike_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.improved_bike_img {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  max-width: 100%;
}

.improved_bike_text {
  margin-left: 127px;
}

.improved_bike_text p {
  padding-bottom: 20px;
}

.improved_bike_text p:last-child {
  padding-bottom: 0px;
}

.benefits {
  padding-bottom: 323px;
}

.benefits_title {
  font-weight: 600;
  font-size: 31px;
  line-height: 130%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.benefits_description {
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.8;
  max-width: 634px;
  margin: 0 auto;
}

.benefits_content {
  margin-top: 80px;
}

.benefits_content .benefits_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.benefits_content .benefits_row:last-child {
  margin-top: 55px;
}

.benefits_card {
  width: 264px;
  height: 250px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.benefits_card:hover {
  background-color: #2f2f30;
}

.benefits_card .benefits_card_content .benefits_icon {
  position: relative;
  top: 25px;
  width: 60px;
  height: 60px;
  background-color: #5e5e5f;
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  margin-bottom: 35px;
}

.benefits_card .benefits_card_content .benefits_icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefits_card .benefits_card_content h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
}

.benefits_card .benefits_card_content p {
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  text-align: center;
  opacity: 0.8;
  margin-top: 10px;
}

.bike_service {
  padding-bottom: 240px;
}

.container_service {
  max-width: 1284px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.bike_service_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bike_service_text {
  margin-top: 72px;
}

.bike_service_text .service_description p {
  max-width: 558px;
}

.bike_service_text .list_service {
  margin-top: 30px;
}

.bike_service_text .list_service .block {
  display: block;
  margin-bottom: 15px;
}

.bike_service_text .list_service .block:last-child {
  margin-bottom: 0;
}

.bike_service_text .list_service .check {
  color: #FFFFFF;
  padding-left: 31px;
}

.bike_service_text .list_service .check_input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.bike_service_text .list_service .check_input:checked + .soan_check {
  background: url(../icons/checkmark.png) no-repeat;
}

.bike_service_text .list_service .soan_check {
  position: absolute;
  width: 19px;
  height: 18px;
  border: solid 2px #cccccc;
  vertical-align: sub;
  margin-left: -31px;
}

.bike_service_text .service_bike_link {
  display: inline-block;
  border: 1px solid #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding: 15px 30px;
  margin-top: 50px;
  -webkit-transition: ease 1s;
  transition: ease 1s;
}

.bike_service_text .service_bike_link:hover {
  color: #000000;
  background-color: #FFFFFF;
}

.repair_bike {
  max-width: 100%;
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
}

.section_video {
  padding-bottom: 165px;
}

.section_video_container {
  max-width: 1097px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.section_video_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video_about_bike {
  position: relative;
  width: 558px;
}

.video_about_bike .video_bike_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.video_about_bike .video_bike_hover.hidden {
  opacity: 0;
}

.video_about_bike .video_bike_hover .video_bile_btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 5;
}

.video_about_bike .bike_video_object {
  max-width: 100%;
  height: auto;
}

.video_about_bike .video_about_bike_container {
  position: relative;
}

.section_video_text {
  max-width: 460px;
  margin-left: 79px;
}

.section_video_text h2 {
  max-width: 412px;
}

.reviews {
  padding-bottom: 600px;
}

.reviews_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider {
  max-width: 502px;
}

.slider .slider_item {
  position: relative;
}

.slider .slider_item h3 {
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  padding-bottom: 2px;
  margin-left: 65px;
}

.slider .slider_item h3::before {
  content: "";
  display: inline-block;
  width: 46px;
  height: 45px;
  background: url(../images/reviews-img.jpg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.slider .slider_item h3::before :last-child {
  content: "";
  display: inline-block;
  width: 46px;
  height: 45px;
  background: url(../images/reviews-img.jpg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.slider .slider_item h4 {
  font-size: 14px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  padding-top: 2px;
  margin-left: 65px;
}

.slider .slider_item p {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-top: 28px;
}

.slider .slider_arrows {
  width: 121px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 90px;
}

.slider .slider_arrows .arrow_slider {
  position: relative;
  width: 53px;
  height: 37px;
  background-color: #0f0f0f;
  cursor: pointer;
}

.slider .slider_arrows .arrow_slider:hover {
  background-color: #212122;
}

.slider .slider_arrows .arrow_slider .left_arrow_slider {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  padding-top: 12px;
}

.slider .slider_arrows .arrow_slider .right_arrow_slider {
  display: block;
  margin-left: 0;
  margin-right: 0;
  margin: 0 auto;
  padding-top: 15px;
}

.reviews_bike {
  max-width: 100%;
  position: absolute;
  right: 0;
}

.footer {
  height: 522px;
}

.footer_container {
  max-width: 1280px;
  margin: 0 auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0 15px;
}

.footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 522px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first_column {
  margin-right: 30px;
}

.first_column h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 28px;
}

.first_column .mail .mail_input {
  border: none;
  outline: none;
  width: 362px;
  height: 46px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #212122;
  opacity: 0.5;
  padding-left: 5px;
}

.first_column .mail .mail_input::-webkit-input-placeholder {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.5;
  padding-top: 12px;
  padding-left: 18px;
}

.first_column .mail .btn_send {
  border: none;
  outline: none;
  width: 101px;
  height: 46px;
  background-color: #212122;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  line-height: 160%;
  color: #FFFFFF;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.first_column .social_icons {
  width: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

.first_column .social_icons .facebook_link, .first_column .social_icons .instagram_link, .first_column .social_icons .twitter_link {
  width: 40px;
  height: 40px;
}

.first_column .social_icons .facebook_link .facebook {
  width: 40px;
  height: 40px;
  background: url(../icons/facebook.svg) no-repeat;
}

.first_column .social_icons .instagram_link .instagram {
  width: 40px;
  height: 40px;
  background: url(../icons/instagram.svg) no-repeat;
}

.first_column .social_icons .twitter_link .twitter {
  width: 40px;
  height: 40px;
  background: url(../icons/twitter.svg) no-repeat;
}

.second_column {
  margin-right: 30px;
}

.second_column .logo_link {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #FFFFFF;
}

.second_column p {
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  max-width: 264px;
  margin-top: 18px;
}

.second_column .contacts {
  position: relative;
}

.second_column .contacts p {
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
  opacity: 0.7;
  margin-left: 20px;
}

.second_column .contacts .address_site::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../icons/our-site.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 8px;
  left: -10px;
}

.second_column .contacts .address_mail::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url(../icons/mail.svg) no-repeat;
  background-size: contain;
  position: absolute;
  top: 53px;
  left: -10px;
}

.third_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third_column .useful_links {
  margin-right: 60px;
}

.third_column .useful_links h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding-bottom: 14px;
}

.third_column .useful_links .list_links li {
  padding-bottom: 13px;
}

.third_column .useful_links .list_links li:last-child {
  padding-bottom: 0;
}

.third_column .useful_links .list_links a {
  font-size: 16px;
  line-height: 160%;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */